body{
 background-color: rgb(24, 22, 22);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

.mar{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.slider {
    position: relative;
}

.slider-container {
    display: flex;
    overflow: hidden;
    width: 300%;
    height: 550px;
    transition: transform 0.5s ease-in-out;
}

.slider-container img {
    flex-shrink: 0;
    width: 33.33%;
    height: 550px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 50px;
    transition: opacity 0.5s ease-in-out;
}

.slider-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.slider-arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    background-color: #360afc;
    color: #fdfdfb;
    margin: 0 5px;
}
.img{
    width: 100px;
    height: 100px;
}
.div1{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-color: rgb(24, 22, 22);
    border: 3px solid white;
}

.d2{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 80px;
    font-size: 40px;
    color: white;

}
.link{
    margin-left: 100px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
footer {
    background-color: rgb(24, 22, 22);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    
  }
  .text1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.img2{
    width: 600px;
    height: 540px;
    float: left;
}
.p1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: orange;
}
.p2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: gray;
}

.img3{
    height: 150px;
    width: 150px;
    float: left;
}
.text2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
    flex-direction: column;
}

h2 {
    display: flex;
    text-align: center;
    font-size: 40px;
    color: white;

}
.img5{
    width: 600px;
    height: 540px;
    float: left;
}
.h{
    display: flex;
   align-items: flex-end;
   justify-content: end;
    font-size: 28px;
    color: white;
}
.div5{
    display: flex;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img7{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 10px;
}