.div1{
    background-color: rgb(4, 116, 245);
    width: 1000pt;
    height: 150pt;
    border: 2pt solid gray;
    
}
.div2{
   background-color: aqua;
   width: 1000pt;
    height: 150pt;
}
 .div3{
   background-color: red;
   width: 1000pt;
    height: 150pt;
 }
 .div4{
   background-color: green;
   width: 1000pt;
    height: 150pt;
 }
 .div5{
   background-color:yellow;
   width: 1000pt;
    height: 150pt;
 }
 .div6{
   background-color: orange;
   width: 1000pt;
    height: 150pt;
 }
 .div7{
   background-color: gray;
   width: 1000pt;
    height: 150pt;
   
   }